.hero-section {
  position: relative;
  height: 60vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: background-image 1s ease-in-out;
}

.hero-content {
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.search-section {
  margin-top: -50px;
  position: relative;
  z-index: 2;
  background-color: #fff5f0;
}

.search-form {
  background-color: white;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}
