.hero-section {
  position: relative;
  height: 60vh; /* Set height for the section */
  overflow: hidden; /* Hide overflow from images */
}

.hero-section .carousel,
.hero-section .carousel-inner,
.hero-section .carousel-item {
  position: absolute; /* Position carousel elements absolutely */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transition: background-image 1s ease-in-out; /* Smooth transition for background images */
}

.hero-content {
  position: absolute; /* Position content absolutely over the carousel */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure content is above images */
  width: 100%; /* Take full width */
  text-align: center;
  padding: 20px;
  box-sizing: border-box; /* Include padding in width */
}

.search-section {
  margin-top: -50px;
  position: relative;
  z-index: 2;
  background-color: #fff5f0;
}

.search-form {
  background-color: white;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}